@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.footer,
.header,
.left-links,
.right-links,
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer,
.header {
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  flex-direction: column;
}

.left-links,
.right-links {
  gap: 10px;
}

.left-links {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  margin-top: 2px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}
