body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 1rem;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  background-color: #005b94;
  grid-column: 1 / 2;
  grid-row: 2 / 7;
}

.nav {
  background-color: #642cde;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.article {
  background-color: #7e1dc3;
  grid-column: 2 / 3;
  grid-row: 3 / 7;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
